.MyBtn {
  /* margin-top: 48px; */

  font-family: inter;
  padding: 15px 40px;
  border-radius: 10px;
  background: #f57520;
  font-size: 16px;
  color: #ffffff;
}

.MyBtn:hover {
  background: #f57f2a;
  color: #ffffff;
  cursor: pointer;
}

.MyBtn:active {
  background: #e1610c;
  color: #ffffff;
}

.MyBtn:focus {
  outline: none;
}
