body {
  margin: 0;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI',  'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edf6f9;
}

#main-bg-image {
  background-image: url(D:\JavaScript\Cycle-Frontend\app\public\main_biker.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width:  100vw;
  height:  100vh;
  margin:  0;
  padding:  0;
} 

code {
  font-family: 'Segoe UI', source-code-pro, Menlo, Monaco, Consolas, 'Roboto', 'Courier New',
    monospace;
}
