footer {
  /* border: 3px solid aqua; */
  height: 825px;
}

/* __Newsletter block__ */

.newsletter {
  /* border: 2px dashed rgb(0, 255, 128); */
  display: flex;
  background-color: #131313;
  height: 275px;
  width: 100%;
  justify-content: flex-start;
  padding-left: 20%;
  align-items: center;
}

.newsletter_form {
  left: 20%;
  z-index: 1;
}

.newsletter_form_input {
  display: flex;
  flex-direction: row;
}

.checkbox {
  display: flex;
  font-size: 12px;
}

.newsletter_img {
  /* border: 2px dashed rgb(255, 128, 128); */
  position: absolute;
  z-index: 0;
  left: 50%;
}

/* __About block__ */

.about {
  /* border: 2px dashed red; */
  padding: 0% 20%;
  background-color: #101010;
  flex-direction: row;

  height: 551px;
  font-size: 12px;
  color: #777777;
}

/* __About company__ */
.about_company {
  height: 490px;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 15%;
}

.about_company_block {
  display: flex;
  flex-direction: column;
}

.about_company_block_img {
  max-width: 87px;
  margin-bottom: 64px;
}

/* __Links__ */

.links {
  color: white;
  display: flex;
  flex-direction: row;
  width: 840px;
  gap: 15%;
  font-size: 24px;
}

.links_block {
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}

.links_block_items {
  color: rgba(255, 255, 255, 0.75);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.links_block_item {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.nav_item_footer {
  font-size: 14px;
}

/* __Terms of use__ */
.horizontal_line {
  border: 1px solid #34312d;
}

.terms_of_use {
  /* border: 1px dashed red; */
  height: 60px;
  gap: 24px;
  display: flex;
  color: #777777;
  font-size: 12px;
  align-items: center;
}
