@font-face {
  font-family: "bebas";
  src: local("bebas"), url("../fonts/BebasNeue.ttf");
}

@font-face {
  font-family: "inter";
  src: local("inter"), url("../fonts/Inter.ttf");
}

@font-face {
  font-family: "inter_thin";
  src: local("inter_thin"), url("../fonts/InterThin.ttf");
}

body {
  /* Default Styles */
  font-family: inter;
  font-size: 14px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  /* Background Image */
  background-image: url("../assets/img/homepage_biker.png");
  background-size: cover;
  max-height: 875px;
  background-repeat: no-repeat;
  background-position: center;

  background-color: darkgray;
}

* {
  box-sizing: border-box;
}

/* code {
} */

/* #root {
  display: flex;  
  justify-content: center;
} */
